html {
    scroll-behavior: smooth;
}
.div_root{
    padding-top: 120px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

footer{
    background-color: #536c8d;
    width: 100%;
}

.logo {
    height: 45px;
    width: 45px;
}

.card-img{
    height: 150px;
    width: 317px;
}

.navbar{
    background-color: #084598;
}

.nav-link{
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.elementToFadeInAndOut {
    animation: fade 1s;
}


@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}