body {
  min-height: 100vh;
}

.border-radius-efeito{
  border-radius: 50px 20px;
}

.titulo-sobre {
  font-family: 'Montserrat', sans-serif;
}

.titulo-principal-sobre {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.card-img {
  height: 150px;
  width: 317px;
}

.cor-branco {
  background-color: #e6e7f7;
}

.cor-roxo-claro {
  color: #604878;
}

.cor-roxo {
  color: #301860;
}


.background-roxo {
  background-color: #301860;
}

.div-superior {
  padding-top: 80px;
  min-height: 200px;
  min-width: 300px;
  flex-grow: 1;
}

.div_root {
  font-family: "Lato", sans-serif;
  font-weight: 20px;
}

.elementToFadeInAndOut {
  animation: fade 1s;
}

#foto-sobre{
  position: relative;
  width: 100px;
  height: 50px;
}

footer {
  background-color: #084598;
}

html {
  scroll-behavior: smooth;
}

.logo {
  height: 45px;
  width: 45px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background-color: #084598;
}

.nav-link {
  color: white;
}

p {
  text-indent: 1.5em;
  margin-top: 0 }

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 770px) {
  .div_root {
    font-size: 15 px;
  }

  .logo{
    display: flex;
  }

  #card-sobre-nos{
    height: 75%;
  }

  #div_superior{
    max-width: 75%;
  }

  #lista_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
  }

  #botoes {
    display: flex;
    flex-direction: column;
  }

  #barra_pesquisa_cve {
    max-width: 70%;
  }

  #botao_pesquisar {
    margin-top: 10px;
  }

  #cards_outras_informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer{
    z-index: 1;
  }
  
  .margin {
    margin-bottom: 20px;
  }

  .menu {
    position: relative;
    display: flex;
  }

  .nav-item {
    padding-right: 20px;
  }

  .navbar-nav {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  #sub_div_principal {
    height: 100 px;
    justify-content: center;
    align-items: center;
  }

  #card-sobre-nos{
    height: 75%;
  }

  #botoes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbarNav{
    width: 70%;
  }

  .menu {
    position: relative;
    display: flex;
  }

  .nav-item {
    padding: 0 px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (min-width: 1001px) {
  #botoes{
    display: flex;
    justify-content: space-around;
  }

  #card-sobre-nos{
    height: 72%;
  }

  #lista_nav {
    display: flex;
    justify-content: center;
  }

  #lista_nav{
    width: 100%;
    min-height: 100%;
  }

  #navbarNav{
    width: 100%;
  }

  #div_logo{
    width: 3%;
  }

  .nav-item{
    margin-right: 60px;
  }
}

::-webkit-scrollbar{
    background-color: #e6e7f7;
    width: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #d1d0d7;
    border-radius: 5px;
}